h1{
    color: white;
}

.divs{
    background-color: chartreuse;
    border-top: 350px;
}

#spacebar
{
    border: 0px;
}

body{
    margin: 0%;
}

.body{
    padding: 15px;
    margin: 0%;
    background-color:chartreuse;
}

.body_ideas{
    padding: 15px;
    margin: 0%;
    background-color:orangered;
    height:10000px;
}

.center_forward{
    text-align: center;
    color: yellow;
}

.tabs{
    align-items: center;
}

#right{
    text-align: right;
}